.negro {
    background: #000;
}

body{
    margin: 0;
}
.parallax {
    background: linear-gradient(to right, rgba(139, 125, 125, 0.5), rgba(216, 206, 206, 0.5)), url("IMAGENES/animeshonen.jpg");  
    height: 85vh;
    background-attachment: fixed;
    background-position: 100% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: alternate expansion 2.5s infinite;
 }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alegreya';
    font-size: 1.8rem;
    padding: 15px 0px;
    transition: all 5s;
}


ul li a {
    text-decoration: none;
    padding: 3px 5px;
    font-family: 'IBM Plex Sans';
    color: #fff;
}


ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 15px 0px;
}

ul li a:hover {
    font-size: 80%;
}

/*NARUTO*/

section#naruto h2{
    font-family: 'Bangers';
    text-align: center;
}

section#naruto img{
    width: 400px;
    display:block;
    margin:auto;
    padding: 10px;
}

section#naruto p{
    font-family: 'Nanum Myeongjo';
    text-align: center;
    padding: 0px 15px;
}

section#naruto a{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    font-family: 'Nanum Myeongjo';
    padding: 10px 0px;
    text-decoration: none;
    color: #000;
}
section#naruto a:hover {
    font-size: 80%;
}

/*ONE PIECE*/

section#onepiece h2{
    font-family: 'Bangers';
    text-align: center;
    color: #fff;
    padding: 15px 15px 0px 15px;
}

section#onepiece img{
    width: 400px;
    display:block;
    margin:auto;
    padding: 10px;
}

section#onepiece p{
    font-family: 'Nanum Myeongjo';
    text-align: center;
    padding: 0px 15px;
    color: #fff;
}

section#onepiece a{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    font-family: 'Nanum Myeongjo';
    padding: 10px 0px;
    text-decoration: none;
    color: #fff;
}
section#onepiece a:hover {
    font-size: 80%;
}

/*HUNTER X HUNTER*/

section#hunterxhunter h2{
    font-family: 'Bangers';
    text-align: center;
}

section#hunterxhunter img{
    width: 400px;
    display:block;
    margin:auto;
    padding: 10px;
}

section#hunterxhunter p{
    font-family: 'Nanum Myeongjo';
    text-align: center;
    padding: 0px 15px;
}

section#hunterxhunter a{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    font-family: 'Nanum Myeongjo';
    padding: 10px 0px;
    text-decoration: none;
    color: #000;
}
section#hunterxhunter a:hover {
    font-size: 80%;
}

/*FAIRY TAIL*/

section#fairytail h2{
    font-family: 'Bangers';
    text-align: center;
    color: #fff;
    padding: 15px 15px 0px 15px;
}

section#fairytail img{
    width: 400px;
    display:block;
    margin:auto;
    padding: 10px;
}

section#fairytail p{
    font-family: 'Nanum Myeongjo';
    text-align: center;
    padding: 0px 15px;
    color: #fff;
}

section#fairytail a{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    font-family: 'Nanum Myeongjo';
    padding: 10px 0px;
    text-decoration: none;
    color: #fff;
}
section#fairytail a:hover {
    font-size: 80%;
}

/*BOTON FLOTANTE*/
a#botonflotante {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    border-radius: 75%;
    font-size: 1.5rem;
    background: #1b1b1b;
    color: #dcd5c2;
    padding: 10px 15px;
    transition: all 300ms;
}

a#botonflotante:hover {
    background: #dcd5c2;
    color: #1b1b1b;
    transform: scale(1.3);
}